body, html {height: 100%; }

.bar:hover {
  fill: brown;
}

.task-navigation-form {
  display: flex;
}

.task-center {
  height: 100vh;
  background-color: #ededed;
  padding-left: 0px;
  padding-right: 0px;
}

.taskapp_container {
  background-color: #ededed;
}

.tasks_container {
  padding: 20px;
}

.taskapp-header {
  margin: 0;
}

.tasks_list {
  max-height: 200px;
  overflow: scroll;
}

/************************ sidePanel CSS  ***************************/

.side-panel-active {
  background-color: #dadada;
}

.sidenav {
  height: 100vh;
  padding: 0px;
}

.side-panel {
  height: 100vh;
  overflow: scroll;
}

.task-item {
 height: 150px;
 border-bottom: 1px solid black;
}

.task-item-delete-button {
  float: right;
}

.task-item:hover {
  background-color: #dadada;
}

.task-item-content {
  position: relative;
  top: 5%;
  margin: auto;
  width: 90%;
  height: 90%;
}

.task-item-updated-date {
  position: absolute;
  bottom: 0px;
}
