body, html {height: 100%; }

.task-center {
  height: 100vh;
  background-color: #ededed;
  padding-left: 0px;
  padding-right: 0px;
}

.sidenav {
  height: 100vh;
  background-color: #b5d1ff;
}

.taskapp_container {
  background-color: #ededed;
}

.tasks_container {
  padding: 20px;
}

.taskapp-header {
  margin: 0;
  text-align: center;
}
/*
.main {
  display: flex;
  width: 70%;
  padding: 10px;
  margin: auto;
  border: 1px solid black;
}

.navigation {
  background-color: #e3ddff;
} */
