#working-on-input {
    width: 300px;
}

.timer-task-container, .timer-list-component, .time-section {
  display: flex;
}

.timer-task-container {
  align-items: baseline;
}

.timer-task-taskname {
  width: 300px;
}

.timer-task-totaltime {
  width: 70px;
}

.timer-list-component {
  height: 40px;
  line-height: 32px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: solid 1px #efefef
}

.timer-task-badge {
  min-width: 24px;
}

.tags-active {
  color: #009823;
}
