#working-on-input {
  width: 300px;
}

.timer-grid {
  background-color: #ffffff;
  max-height: 100vh;
}

.fa-ellipsis-v {
  color: #7a7a7a;
}

.fa-ellipsis-v:hover {
  color: #383838;
}

.timer-task-container,
.timer-list-container,
.time-section,
.timer-nav_container,
.tag-menu-badge {
  display: flex;
}

.timer-task-container,
.timer-nav_container,
.tag-menu-badge {
  align-items: baseline;
}

.timer-task-container {
  height: 40px;
  line-height: 40px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #d7c9aa70;
  padding: 0px 10px;
}

.time-container {
  width: 480px;
}

.timer-nav_container {
  height: 44px;
  border-bottom: 2px solid #6969696e;
}

.timer-time_container {
  padding: 0px;
}

.timer-nav-current-timer,
.total-time-seconds,
.timer-task-totaltime {
  width: 130px;
  font-size: 15px;
}

.timer-task-totaltime {
  font-weight: bold;
}

.timer-task-ul {
  /* width: 860px; */
  max-height: 320px;
  margin-bottom: 0px;
  overflow-y: scroll;
}

.timer-task-taskname {
  width: 300px;
  font-size: 16px;
  font-weight: bold;
}

.timer-list-container {
  height: 40px;
  line-height: 32px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: solid 1px #efefef;
}

.timer-list-tag-menu {
  width: 35px;
}

.timer-list-start-end-time {
  display: flex;
  width: 380px;
}

.timer-task-badge,
.fas {
  cursor: pointer;
}

.fa-tag {
  color: #6c757d;
}

.fa-tag:hover {
  color: #343a40;
}

.fa-tags:hover {
  color: #005f16;
}

.timer-task-badge {
  min-width: 30px;
}

.timer-task-badge:hover {
  background-color: #0e6471;
}

.tags-active {
  color: #009823;
}

.tags-popover-body {
  max-height: 200px;
  overflow: scroll;
}

.dtp-picker {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
